#!/usr/bin/make
%:
	dh $@

override_dh_auto_build:
	meson setup build --prefix=/usr
	ninja -C build

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/solakonone ninja -C build install
	install -d $(CURDIR)/debian/solakonone/etc/bash_completion.d
	install -m 644 misc/solakonOne.bash $(CURDIR)/debian/solakonone/etc/bash_completion.d/solakonOne

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
