#!/usr/bin/make
%:
	dh $@

override_dh_auto_build:
	meson setup build --prefix=/usr
	ninja -C build

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/solakon-monitor ninja -C build install
	install -d $(CURDIR)/debian/solakon-monitor/etc/bash_completion.d
	install -m 644 misc/solakon-monitor.bash $(CURDIR)/debian/solakon-monitor/etc/bash_completion.d/solakon-monitor

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
